## Dict benchmark
```
Inserting: 1000000 items in 1488 ms
Linear access of existing elements: 1000000 items in 566 ms
Linear access of existing elements (2nd round): 1000000 items in 527 ms
Accessing random keys: 1000000 items in 367 ms
Accessing missing: 1000000 items in 541 ms
Removing and adding: 1000000 items in 707 ms
```